* {
    margin: 0;
    padding: 0;
}

/*tudo vai ter uma "margin" margem de zero e o "padding" distanciamento interno espaçamento de dentro*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #000000;
    background-color: #343838bb;

}

a {
    color: #630657;
}


.simple_header {
    padding: 12px 10px;
    /*padding serve para espessura da cor e usamos o background para colocar a cor " #3ecc7e" */
    text-align: left;
    vertical-align: text-top;
    background-color: #008c9e;
    color: #000000;
    font-size: 18px;
    /*font-size estamos usando para o tamanho da fonte e o color para a cor da letra "white", dentro do cabeçalho*/
    float: none;

}

.simple_footer {
    padding: 12px 10px;
    text-align: left;
    vertical-align: baseline;
    background-color: #008c9e;
    color: #000000;
    font-size: 18px;
    float: none;

}

.icon_image {
    position: relative;
    float: center;
    padding: 0;
    vertical-align: text-top;

}


.navbar {
    list-style: none;
    /*Retira os pontos ou o número da lista "none"*/
    vertical-align: text-top;
    border: 0px solid #008c9e;
    float: left;
    /*modo float é modo flutuante*/


}

.navbar li {
    position: relative;
    vertical-align: text-top;
    float: left;
    border-right: 0px solid #008c9e;
    /*border right é uma borda solida*/
}

.navbar li a {
    color: #333333;
    text-decoration: none;
    /*Ele tira as decorações do texto.*/
    padding: 5px 10px;
    display: block;
}

.navbar li a:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 3px 10px 0;
    /*Sombreamento*/
    -webkit-box-shadow: 0 3px 10px 0 #ccc;
    /*Serve para navegadores que não reconhecem o box-shadow*/
    text-shadow: 0px 0px 5px #fff;
    /*Deixa o título sombreado*/
}

.navbar li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #00dffc;
    display: none;
}

.navbar li:hover ul,
.navbar li.over ul {
    display: block;
}

.navbar li ul li {
    border: 0px solid #c0c0c0;
    display: block;
    width: 150px;
}

/*parte central da págiona*/

.cont_home_principal {
    justify-content: center;
    display: flex;
    align-items: center;
    color: #072b5e;

}

.cont_home_principal h1 {
    text-align: center;
    color: #0248a3;
}

.cont_home_principal table {
    width: 100%;
    margin-bottom: .5em;
    table-layout: fixed;
    text-align: justify;


}

.cont_home_principal table tr td {
    border: 1px solid;
    width: 425px;
    height: 250px;
}

/*slider carousel 1 */

.slider {
    display: block;
    height: 250px;
    /*altura*/
    width: 350px;
    /*largura*/
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 88%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #6e6d72;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

/*slider carousel 2 */

.slider2 {
    display: block;
    height: 250px;
    /*altura*/
    width: 350px;
    /*largura*/
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 88%;
    vertical-align: top;
}

.slider input {
    display: none;
}

direitos .slider label {
    background-color: #6e6d72;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(4) label {
    left: 10px;
}

.slider li:nth-child(5) label {
    left: 40px;
}

.slider li:nth-child(6) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/*slider carousel 3 */

.slider3 {
    display: block;
    height: 250px;
    /*altura*/
    width: 350px;
    /*largura*/
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 88%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #6e6d72;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(7) label {
    left: 10px;
}

.slider li:nth-child(8) label {
    left: 40px;
}

.slider li:nth-child(9) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}



.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked~img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

form {
    color: #1b0580;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



.icon_tradutor {




    height: 3%;
    width: 3%;


}

.container_form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #008c9e;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
}

form textarea {
    height: 150px;
    resize: none;
}

form button {
    display: block;
    background-color: #5a97e6;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

/* Carousel + Album */

/* caroucel */
.carousel {
    background-color: #f1c2e7;
    padding-top: 35px;
    padding-bottom: 35px;
}


.gallery {
    background: #343838bb;
}

.gallery-cell {
    /* adicionando borda */
    border-radius: 10px;
}

.gallery-cell a img {
    /* adicionando borda */
    border-radius: 10px;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: -200px;

    counter-increment: gallery-cell;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: -200px;

    counter-increment: gallery-cell;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: -200px;

    counter-increment: gallery-cell;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: -200px;

    counter-increment: gallery-cell;
}

.gallery-cell {
    width: 66%;
    height: 400px;
    margin-right: -200px;

    counter-increment: gallery-cell;
}

/* Fim carousel */



/* Cards de vendas */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background-color: #ffffff;
}



.card h1 {
    padding-top: 10px;
    height: 80px;

}

.card h1 {
    font-size: 15px;
}


.prince-2 {
    color: grey;
    font-size: 15px;
    text-decoration: line-through;
    padding-bottom: 10px;
}


.price {
    font-weight: bold;
    color: #0e84c5;
    font-size: 22px;
    padding-bottom: 10px;
}


.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: rgb(255, 255, 255);
    background-color: #008c9e;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding-bottom: 10px;
}


.card button:hover {
    opacity: 0.7;
    transition: 0.5s;
}



/*Mudanças no css do link*/
.flickity-page-dots .dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -10px 8px;
    background: #333;
    border-radius: 50%;
    opacity: .25;
    cursor: pointer
}

.flickity-slider {
    position: absolute;
    width: 70%;
    height: 100%;
}

/*Mudanças no css do link*/



.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Proporção de aspecto 16:9 */
    padding-left: 10%;
    padding-right: 10%;
    height: 0;
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80%;

}